{% extends "layout_ticket.html" %}

{% block BODY %}
<div class="list-group">
    {% if page_id==0 %}
    <a class="list-group-item list-group-item-action" href="{{url_for('ticket.slideShow_view',name=name)}}">
        旅行写真
        <img style="height: 120px; width: auto; float: right;" src="https://raw.githubusercontent.com/kouki-0926/FlaskMathOnHeroku_Images/refs/heads/main/ticket/picture/map/picture/map0.jpg">
    </a>
    {% endif %}

    {% for id in range(min_id, max_id) %}
    <a class="list-group-item list-group-item-action" href="{{url_for('ticket.ticket_view',name=name,id=id)}}">
        {{disp_contents[id][0]}} {{disp_contents[id][1]}}
        <img style="height: 120px; width: auto; float: right;" src="https://raw.githubusercontent.com/kouki-0926/FlaskMathOnHeroku_Images/refs/heads/main/ticket/{{name}}/{{name}}{{id}}.jpg">
    </a>
    {% endfor %}
</div><br>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_id==0 %}
        <!-- page_id=0のとき表示しない -->
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('ticket.ticket_index_view',name=name,page_id=page_id-1)}}"><<　{{page_id}}</a>
        </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link" href="{{url_for('ticket.ticket_index_view',name=name,page_id=page_id)}}">{{page_id+1}}</a>
        </li>

        {% if max_id == disp_contents|length %}
        <!-- max_id=最大値のとき表示しない -->
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('ticket.ticket_index_view',name=name,page_id=page_id+1)}}">{{page_id+2}}　>></a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}