{% extends "layout_main.html" %}

{% block body %}
<br>
<div class="card-deck">
  <div class="card text-center border-success">
    <div class="card-header">
      <b><a href='{{url_for("Math.index_view")}}' class="heading">Flask Math</a></b>
    </div>
    <a href='{{url_for("Math.index_view")}}'>
      <img src="/static_main/images/math.png" alt="Math" class="img_index">
    </a>
    <div class="card-body text-success">
      <p class="card-text">Perform various mathematical calculations such as calculus and matrix operations.</p>
    </div>
  </div>

  <div class="card text-center border-success">
    <div class="card-header">
      <b><a href='{{url_for("tools.index_view")}}' class="heading">Flask Tools</a></b>
    </div>
    <a href='{{url_for("tools.index_view")}}'>
      <img src="/static_main/images/tools.png" alt="Tools" class="img_index">
    </a>
    <div class="card-body text-success">
      <p class="card-text">Utility tools including weather forecasts, IP address lookup, translation, and maps.</p>
    </div>
  </div>

  <div class="card text-center border-success">
    <div class="card-header">
      <b><a href='{{url_for("game.index_view")}}' class="heading">Flask Game</a></b>
    </div>
    <a href='{{url_for("game.index_view")}}'>
      <img src="/static_main/images/game.png" alt="Game" class="img_index">
    </a>
    <div class="card-body text-success">
      <p class="card-text">Browser-based games.</p>
    </div>
  </div>

  <div class="card text-center border-success">
    <div class="card-header">
      <b><a href='{{url_for("travel.index_view")}}' class="heading">Flask Travel</a></b>
    </div>
    <a href='{{url_for("travel.index_view")}}'>
      <img src="/static_main/images/travel.png" alt="Travel" class="img_index">
    </a>
    <div class="card-body text-success">
      <p class="card-text">Travel photos and other travel-related content.</p>
    </div>
  </div>

</div>

{% endblock %}