{% extends "layout_ticket.html" %}

{% block BODY %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

<div id="parent" style="display: flex;">
    <div id="map" style="width: 50%; height: 63vh;"></div>
    <div id="photo-container" style="width: 50%; height: 63vh;"></div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var centerCoordinates = {{ centerCoordinates| tojson }};
    var map = L.map('map').setView(centerCoordinates[0].coords, 7);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map);

    var markers = {{ markers| tojson }};

    markers.forEach(function (marker) {
        var markerObj = L.marker(marker.coords).addTo(map);
        markerObj.on('click', function () {
            displayPhoto(marker.photo);
        });
    });

    function displayPhoto(photo) {
        var photoContainer = document.getElementById('photo-container');
        photoContainer.innerHTML = '<img src="' + photo + '" style="width: 100%;">';
    }
</script>

{% endblock %}