{% extends "layout_ticket.html" %}

{% block BODY %}
<h2>{{disp_contents[0][0]}}</h2>

{% for id in range(disp_contents|length) %}
<hr style="border-width: 3px; border-color: red" class="m-0">
<div style="display: flex;">
    <div style="width: 20%;">
        <h4>{{disp_contents[id][1][0][0]}}</h4>
    </div>
    <div style="width: 80%;">
        <div style="display: flex;">
            {% for img_id in range(disp_contents[id][1][1]|length) %}
            <div>
                <img style="width: 100%; height: auto;" src={{disp_contents[id][1][img_id][0]}}>
                <p style="text-align: center;">{{disp_contents[id][1][img_id][1]}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{{disp_contents[0][1][0][1]}}

{% endblock %}