{% extends "layout_ticket.html" %}

{% block BODY %}
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for i in range(titles|length) %}
    <div class="card" style="width: 20rem; margin-left: 0.5rem; margin-bottom: 0.5rem;">
        <img class="card-img-top" src="{{url_for('ticket.index_view')}}/static_ticket/images/{{names[i]}}/{{names[i]}}0.jpg">
        <div class="card-body">
            <p class="card-text" style="color: black;">{{period[i]}}</p>
            <h5 class="card-title" style="color: black;">{{titles[i]}}</h5>
            <a href="{{url_for('ticket.list_view',name=names[i])}}" class="card-link">画像を見る</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}