{% extends "layout_ticket.html" %}

{% block BODY %}
<div class="list-group">
  {% for id in range(min_id, max_id) %}
  <a class="list-group-item list-group-item-action" href="{{url_for('ticket.ticket_view',name=name,id=id)}}">
    {{disp_info[id][0]}} {{disp_info[id][1]}}
    <img style="width: 8%; height: auto; float: right;" src="{{url_for('ticket.index_view')}}/static_ticket/images/{{name}}/{{name}}{{id}}.jpg">
  </a>
  {% endfor %}
</div><br>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_id==0 %}
    <!-- page_id=0のとき表示しない -->
    {% else %}
    <li class="page-item">
      <a class="page-link" href="{{url_for('ticket.list_view',name=name,page_id=page_id-1)}}"><<　{{page_id}}</a>
    </li>
    {% endif %}

    <li class="page-item">
      <a class="page-link" href="{{url_for('ticket.list_view',name=name,page_id=page_id)}}">{{page_id+1}}</a>
    </li>

    {% if max_id == disp_info|length %}
    <!-- max_id=最大値のとき表示しない -->
    {% else %}
    <li class="page-item">
      <a class="page-link" href="{{url_for('ticket.list_view',name=name,page_id=page_id+1)}}">{{page_id+2}}　>></a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}