{% extends "layout_ticket.html" %}

{% block BODY %}
<div class="d-flex flex-column" style="gap: 0; margin: 0;">
    <div class="card border-secondary">
        <!-- 左端に県名，右端に戻るボタンを表示 -->
        <div class="card-header" style="padding: 0.2rem;">
            <div style="display: flex;">
                <div style="margin-left: 20px;">
                    <h3>{{pref_name}}</h3>
                </div>
                <div style="margin-left: auto; margin-top: 3px;">
                    <a class="btn btn-secondary btn-sm" href="{{url_for('ticket.picture_index_view')}}">都道府県選択ページに戻る</a>
                </div>
            </div>
        </div>
        <!-- 地図を表示 -->
        <div id="map" style="height: 60vh; width: 100%;"></div>
    </div>
    <div class="card border-secondary">
        <!-- タイトルを表示 -->
        <div class="card-header" style="padding: 0.2rem;">
            <h3 id="title" style="text-align: center;"></h3>
        </div>
        <!-- 写真を表示 -->
        <img id="photo">
    </div>
</div>

<!-- ================================================================================ -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    // 地図を初期化
    const centerCoordinates = {{centerCoordinates|tojson}};
    const map = L.map('map').setView(centerCoordinates[0].coords, 9);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map);

    const markers = {{markers|tojson}};
    markers.forEach(marker => {
        const markerObj = L.marker(marker.coords).addTo(map);
        markerObj.on('click', function () {
            // タイトルを表示
            const titleContainer = document.getElementById('title');
            titleContainer.innerHTML = marker.title.replace(/_/g, ' ');

            // 写真を表示
            const photoContainer = document.getElementById('photo');
            photoContainer.src = marker.photo;
            photoContainer.style.width = '100%';
            photoContainer.style.height = 'auto';

            // 地図の高さを写真の高さに合わせる
            photoContainer.onload = function () {
                const mapContainer = document.getElementById('map');
                mapContainer.style.height = photoContainer.clientHeight + 'px';
            };

            // 選択したマーカーが中心になるように地図を移動
            map.setView(marker.coords, map.getZoom(), { animate: true });
        });
    });
</script>

{% endblock %}