{% extends "layout_ticket.html" %}

{% block BODY %}
<div class="card text-center border-success m-0">
  <div class="card-header" style="padding: 0.2rem;">
    <h3>{{pref_name}}</h3>
  </div>
  <div id="map" style="height: 80vh; width: 100%;"></div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
  var centerCoordinates = {{centerCoordinates|tojson}};
  var map = L.map('map').setView(centerCoordinates[0].coords, 10);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map);

  var markers = {{markers|tojson}};
  markers.forEach(marker => {
    L.marker(marker.coords).addTo(map)
      .bindPopup(`
          <div class="popup-content" style="text-align: center;">
            <h5>${marker.title}</h5>
            <img src="${marker.photo}" style="width: 500px; height: auto; border-radius: 8px;"
          </div>
          `, { maxWidth: 500 })
  });
</script>

{% endblock %}