{% extends "layout_ticket.html" %}

{% block BODY %}
<h2 id="title" style="text-align: center;"></h2>
<div style="display: flex; align-items: center; justify-content: center;">
    <img id="slideshowImage" src="" width="50%">
</div>

<script>
    const images = [
        "{{url_for('ticket.index_view')}}/static_ticket/images/prefecturalEconomicValue/H31.png",
        "{{url_for('ticket.index_view')}}/static_ticket/images/prefecturalEconomicValue/R1.png",
        "{{url_for('ticket.index_view')}}/static_ticket/images/prefecturalEconomicValue/R2.png",
        "{{url_for('ticket.index_view')}}/static_ticket/images/prefecturalEconomicValue/R3.png",
        "{{url_for('ticket.index_view')}}/static_ticket/images/prefecturalEconomicValue/R4.png",
        "{{url_for('ticket.index_view')}}/static_ticket/images/prefecturalEconomicValue/R5.png",
        "{{url_for('ticket.index_view')}}/static_ticket/images/prefecturalEconomicValue/R6.png",
    ];

    const titles = [
        "平成31年 1/47",
        "令和元年 19/47",
        "令和2年 19/47",
        "令和3年 25/47",
        "令和4年 32/47",
        "令和5年 41/47",
        "令和6年 47/47",
    ];

    let index = 0;
    setInterval(() => {
        index = (index + 1) % images.length;
        document.getElementById("slideshowImage").src = images[index];
        document.getElementById("title").innerText = titles[index];
    }, 1000);
</script>

{% endblock %}