{% extends "layout_ticket.html" %}

{% block BODY %}
<h4 id="title1" style="text-align: center;"></h4>
<h3 id="title2" style="text-align: center;"></h3>

<div id="imageCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" id="carouselInner"></div>

    <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>

<script>
    const images = {{images|tojson}};
    const carouselInner = document.getElementById("carouselInner");

    // カルーセルに画像を追加
    images[1].forEach((imgData, idx) => {
        const div = document.createElement("div");
        div.className = "carousel-item" + (idx === 0 ? " active" : "");

        const img = document.createElement("img");
        img.src = "https://raw.githubusercontent.com/kouki-0926/FlaskMathOnHeroku_Images/main/picture/" + imgData[1];
        img.className = "d-block mx-auto";
        img.style.width = window.outerWidth > 768 ? "50%" : "100%";
        img.style.height = "auto";

        div.appendChild(img);
        carouselInner.appendChild(div);
    });

    // 最初のタイトル表示
    document.getElementById("title1").innerText = images[1][0][0] + " " + images[0];
    document.getElementById("title2").innerText = images[1][0][2] + " (1/" + images[1].length + ")";

    // スライドイベントでタイトルを更新
    $('#imageCarousel').on('slide.bs.carousel', function (e) {
        const index = $(e.relatedTarget).index();
        document.getElementById("title1").innerText = images[1][index][0] + " " + images[0];
        document.getElementById("title2").innerText = images[1][index][2] + " (" + (index + 1) + "/" + images[1].length + ")";
    });

    $('#imageCarousel').carousel({ interval: 2000 }); 
</script>

<!-- ================================================================================ -->
<div id="map" style="height: 80vh; width: 50%;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    const coords_list = [
        [35.61978333333333, 140.11784444444444], // 千葉駅
        [35.68104166666667, 139.76721388888888], // 東京駅
        [37.39823611111111, 140.38832222222223], // 郡山駅
        [37.50772222222222, 139.93066388888890], // 会津若松駅
        [37.50153611111111, 139.91925000000000], // 七日町駅
        [37.75460555555556, 140.45999166666667], // 福島駅
        [38.25924166666667, 140.88180555555556], // 仙台駅
        [40.82744166666667, 140.69268888888888], // 新青森駅
        [40.82905277777778, 140.73306388888890], // 青森駅
        [39.70152777777778, 141.13717777777777], // 盛岡駅
        [39.59145277777777, 140.57130555555557], // 角館駅
        [39.71662777777778, 140.12974444444444], // 秋田駅
        [38.92191944444444, 139.84634444444444], // 酒田駅
        [37.94379444444444, 139.33493055555556], // 新発田駅
        [37.91206666666667, 139.06068333333334], // 新潟駅
    ];

    // 緯度経度の重心を計算
    const latSum = coords_list.reduce((sum, coords) => sum + coords[0], 0);
    const lngSum = coords_list.reduce((sum, coords) => sum + coords[1], 0);
    const centerLat = latSum / coords_list.length;
    const centerLng = lngSum / coords_list.length;

    // 地図を初期化
    const map = L.map('map').setView([centerLat, centerLng], 7);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map);

    // マーカーを追加
    coords_list.forEach(coords => {
        const mkr = L.marker(coords).addTo(map)
    });
</script>

{% endblock %}