{% extends "layout_ticket.html" %}

{% block BODY %}
<h1>{{area_name}}</h1>
<h2>{{pref_name}}</h2>
<div style="text-align: center; display: flex; flex-wrap: wrap; justify-content: center;">
    {% for i in range(10) %}
    <div class="card border-secondary m-0" style="width: 20%;">
        <div class="card-header" style="padding: 0.2rem;">
            <h3>千葉駅</h3>
        </div>
        <img style="width: 100%;" src="https://raw.githubusercontent.com/kouki-0926/FlaskMathOnHeroku_Images/main/blog/12_千葉県/駅名標_千葉駅.jpg">
    </div>
    {% endfor %}
</div><hr>
{% endblock %}