{% extends "layout_ticket.html" %}

{% block SCRIPT %}
<script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
<script src="{{url_for('ticket.index_view')}}/static_ticket/js/jquery.japan-map.min.js"></script>
<script>
    $(function () {
        var myUrlPref = [
            // 北海道地方
            "{{url_for('ticket.station_view', area_name='北海道')}}",

            // 東北地方
            "{{url_for('ticket.station_view', area_name='東北')}}",
            "{{url_for('ticket.station_view', area_name='東北')}}",
            "{{url_for('ticket.station_view', area_name='東北')}}",
            "{{url_for('ticket.station_view', area_name='東北')}}",
            "{{url_for('ticket.station_view', area_name='東北')}}",
            "{{url_for('ticket.station_view', area_name='東北')}}",

            // 関東地方
            "{{url_for('ticket.station_view', area_name='関東')}}",
            "{{url_for('ticket.station_view', area_name='関東')}}",
            "{{url_for('ticket.station_view', area_name='関東')}}",
            "{{url_for('ticket.station_view', area_name='関東')}}",
            "{{url_for('ticket.station_view', area_name='関東')}}",
            "{{url_for('ticket.station_view', area_name='関東')}}",
            "{{url_for('ticket.station_view', area_name='関東')}}",

            // 中部地方
            "{{url_for('ticket.station_view', area_name='中部')}}",
            "{{url_for('ticket.station_view', area_name='中部')}}",
            "{{url_for('ticket.station_view', area_name='中部')}}",
            "{{url_for('ticket.station_view', area_name='中部')}}",
            "{{url_for('ticket.station_view', area_name='中部')}}",
            "{{url_for('ticket.station_view', area_name='中部')}}",
            "{{url_for('ticket.station_view', area_name='中部')}}",
            "{{url_for('ticket.station_view', area_name='中部')}}",
            "{{url_for('ticket.station_view', area_name='中部')}}",

            // 近畿地方
            "{{url_for('ticket.station_view', area_name='近畿')}}",
            "{{url_for('ticket.station_view', area_name='近畿')}}",
            "{{url_for('ticket.station_view', area_name='近畿')}}",
            "{{url_for('ticket.station_view', area_name='近畿')}}",
            "{{url_for('ticket.station_view', area_name='近畿')}}",
            "{{url_for('ticket.station_view', area_name='近畿')}}",
            "{{url_for('ticket.station_view', area_name='近畿')}}",

            // 中国地方
            "{{url_for('ticket.station_view', area_name='中国')}}",
            "{{url_for('ticket.station_view', area_name='中国')}}",
            "{{url_for('ticket.station_view', area_name='中国')}}",
            "{{url_for('ticket.station_view', area_name='中国')}}",
            "{{url_for('ticket.station_view', area_name='中国')}}",

            // 四国地方
            "{{url_for('ticket.station_view', area_name='四国')}}",
            "{{url_for('ticket.station_view', area_name='四国')}}",
            "{{url_for('ticket.station_view', area_name='四国')}}",
            "{{url_for('ticket.station_view', area_name='四国')}}",

            // 九州地方
            "{{url_for('ticket.station_view', area_name='九州')}}",
            "{{url_for('ticket.station_view', area_name='九州')}}",
            "{{url_for('ticket.station_view', area_name='九州')}}",
            "{{url_for('ticket.station_view', area_name='九州')}}",
            "{{url_for('ticket.station_view', area_name='九州')}}",
            "{{url_for('ticket.station_view', area_name='九州')}}",
            "{{url_for('ticket.station_view', area_name='九州')}}",
            "{{url_for('ticket.station_view', area_name='九州')}}"
        ];

        var areas = [
            { "code": 1, "name": "北海道地方", "color": "#ca93ea", "hoverColor": "#e0b1fb", "prefectures": [1] },
            { "code": 2, "name": "東北地方",   "color": "#a7a5ea", "hoverColor": "#d6d4fd", "prefectures": [2, 3, 4, 5, 6, 7] },
            { "code": 3, "name": "関東地方",   "color": "#84b0f6", "hoverColor": "#c1d8fd", "prefectures": [8, 9, 10, 11, 12, 13, 14] },
            { "code": 4, "name": "中部地方",   "color": "#52d49c", "hoverColor": "#93ecc5", "prefectures": [15, 16, 17, 18, 19, 20, 21, 22, 23] },
            { "code": 5, "name": "近畿地方",   "color": "#f2db7b", "hoverColor": "#f6e8ac", "prefectures": [24, 25, 26, 27, 28, 29, 30] },
            { "code": 6, "name": "中国地方",   "color": "#f9ca6c", "hoverColor": "#ffe5b0", "prefectures": [31, 32, 33, 34, 35] },
            { "code": 7, "name": "四国地方",   "color": "#fbad8b", "hoverColor": "#ffd7c5", "prefectures": [36, 37, 38, 39] },
            { "code": 8, "name": "九州地方",   "color": "#f7a6a6", "hoverColor": "#ffcece", "prefectures": [40, 41, 42, 43, 44, 45, 46, 47] }
        ];

        $("#myMapJapan").japanMap(
            {
                areas: areas,
                selection: "prefecture",
                borderLineWidth: 0.25,
                drawsBoxLine: true,
                movesIslands: true,
                showsAreaName: false,
                showsPrefectureName: false,
                width: window.outerWidth > 768 ? window.outerWidth * 0.5 : window.outerWidth * 0.9,
                font: "MS Mincho",
                fontSize: 12,
                fontColor: "areaColor",
                fontShadowColor: "black",
                onSelect: function (data) {
                    window.location.href = myUrlPref[data.code - 1];
                },
            }
        );
    });
</script>
{% endblock %}

{% block BODY %}
<p>都道府県を選択してください</p>
<p><a href="{{url_for('ticket.station_view', area_name='全国')}}">全国</a></p>
<div style="text-align: center;" id="myMapJapan"></div>
{% endblock %}