{% extends "layout_ticket.html" %}

{% block BODY %}
{% for i in range(station|length) %}
<h2>{{station[i][0]}}</h2>
<div style="display: flex; gap: 15px; height: 115px;">
    {% for j in range(1, station[i]|length) %}
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>{{station[i][j][0]}}</div>
        <div style="width: 65px; height: 5px; background-color: {{station[i][j][1]}};"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">{{station[i][j][2]}}</div>
    </div>
    {% endfor %}
</div>
{% endfor %}

<div style="display: flex; gap: 15px; height: 115px;">
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>JO28</div>
        <div style="width: 65px; height: 5px; background-color: #007ac1;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">千葉駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>JT01</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">東京駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>JT07</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">大船駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>JT16</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">小田原駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>JT18</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">根府川駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>CA00</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">熱海駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>CA02</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">三島駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>CA03</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">沼津駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>CA14</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">清水駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>CA17</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">静岡駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>CA37</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">弁天島駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>CA42</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">豊橋駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>CA68</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">名古屋駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>CA77</div>
        <div style="width: 65px; height: 5px; background-color: #f68b1e;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">大垣駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>A12</div>
        <div style="width: 65px; height: 5px; background-color: #0071be;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">米原駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>A13</div>
        <div style="width: 65px; height: 5px; background-color: #0071be;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">彦根駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>A31</div>
        <div style="width: 65px; height: 5px; background-color: #0071be;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">京都駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>A47</div>
        <div style="width: 65px; height: 5px; background-color: #0071be;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">大阪駅</div>
    </div>
    <div style="width: 50px; border: 1px solid black; padding: 3px; display: flex; flex-direction: column; align-items: center;">
        <div>A63</div>
        <div style="width: 65px; height: 5px; background-color: #0071be;"></div>
        <div style="writing-mode: vertical-rl; padding: 5px;">神戸駅</div>
    </div>
</div>
{% endblock %}