{% extends "layout_ticket.html" %}

{% block BODY %}

{% for i in range(station|length) %}
<hr>
<h2>{{station[i][0]}}</h2>
<div style="display: flex;">
    {% for j in range(1, station[i]|length) %}
    <div style="width: 50px; display: flex; flex-direction: column; align-items: center;">
        <div style="height: 20px;">{{station[i][j][0]}}</div>
        <div style="height: 3px; width: 50px; background-color: {{station[i][j][1]}};"></div>
        <div style="height: 120px; writing-mode: vertical-rl;">{{station[i][j][2]}}</div>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}