{% extends "layout_ticket.html" %}

{% block BODY %}
<div class="card text-center border-danger">
    <div class="card-header">
        <b>{{Date[id]}}<br>{{Caption[id]}}</b>
    </div>
    <div class="ticket_div">
        <img class="ticket_img" src="static_ticket/images/img{{id}}.jpg" alt="ticket">
    </div>
</div><br>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if id==0 %}
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('ticket.ticket_view',id=preid)}}"><<　{{preid+1}}</a>
        </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link" href="{{url_for('ticket.ticket_view',id=id)}}">{{id+1}}</a>
        </li>

        {% if id==maxid %}
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('ticket.ticket_view',id=nextid)}}">{{nextid+1}}　>></a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}