{% extends "layout_ticket.html" %}

{% block BODY %}
{% for id in range(6) %}
<div style="display: flex; text-align: center;">
    <!-- 日時 -->
    <div style="width: 5.8%;">
        <h4>{{id}}:00</h4>
    </div>

    <!-- 縦線 -->
    <div style="width: 0.2%; background-color: #6c757d; position: relative;">
        <div style="width: 15px; height: 15px; background-color: #6c757d; position: absolute; top: 12px; left: 50%; transform: translate(-50%, -50%); border-radius: 50%;"></div>
    </div>

    <!-- 内容 -->
    <div style="width: 50%;">
        <h4>{{disp_contents[id][1]}}</h4>
        <p>discription</p>
    </div>

    <!-- 画像 -->
    <div style="width: 44%;">
        <img src="{{url_for('ticket.index_view')}}/static_ticket/images/tokyo/tokyo{{id}}.jpg" style="width: 100%; margin-bottom: 2vh;">
    </div>
</div>
{% endfor %}

{% endblock %}