{% extends "layout_ticket.html" %}

{% block BODY %}
<link href="{{url_for('ticket.index_view')}}static_ticket/css/style_map.css" rel="stylesheet" type="text/css">

<div id="japan-map" class="clearfix">
    <!-- 北海道・東北地方 -->
    <div id="hokkaido-touhoku" class="clearfix">
        <p class="area-title">北海道・東北</p>
        <div class="area">
            <a href="{{url_for('ticket.map_view')}}">
                <div id="hokkaido">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/01_hokkaido.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="aomori">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/02_aomori.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="iwate">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/03_iwate.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="miyagi">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/04_miyagi.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="akita">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/05_akita.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="yamagata">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/06_yamagata.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="fukushima">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/07_fukushima.jpg">
                </div>
            </a>
        </div>
    </div>

    <!-- 関東地方 -->
    <div id="kantou">
        <p class="area-title">関東</p>
        <div class="area">
            <a href="{{url_for('ticket.map_view')}}">
                <div id="ibaraki">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/08_ibaraki.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="tochigi">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/09_tochigi.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="gunma">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/10_gunma.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="saitama">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/11_saitama.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="chiba">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/12_chiba.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="tokyo">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/13_tokyo.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="kanagawa">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/14_kanagawa.jpg">
                </div>
            </a>
        </div>
    </div>

    <!-- 中部地方 -->
    <div id="tyubu" class="clearfix">
        <p class="area-title">中部</p>
        <div class="area">
            <a href="{{url_for('ticket.map_view')}}">
                <div id="nigata">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/15_nigata.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="toyama">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/16_toyama.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="ishikawa">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/17_ishikawa.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="fukui">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/18_fukui.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="yamanashi">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/19_yamanashi.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="nagano">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/20_nagano.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="gifu">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/21_gifu.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="shizuoka">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/22_shizuoka.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="aichi">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/23_aichi.jpg">
                </div>
            </a>
        </div>
    </div>

    <!-- 近畿地方 -->
    <div id="kinki" class="clearfix">
        <p class="area-title">近畿</p>
        <div class="area">
            <a href="{{url_for('ticket.map_view')}}">
                <div id="mie">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/24_mie.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="shiga">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/25_shiga.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="kyoto">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/26_kyoto.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="osaka">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/27_osaka.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="hyougo">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/28_hyougo.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="nara">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/29_nara.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="wakayama">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/30_wakayama.jpg">
                </div>
            </a>
        </div>
    </div>

    <!-- 中国地方 -->
    <div id="tyugoku" class="clearfix">
        <p class="area-title">中国</p>
        <div class="area">
            <a href="{{url_for('ticket.map_view')}}">
                <div id="tottori">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/31_tottori.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="shimane">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/32_shimane.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="okayama">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/33_okayama.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="hiroshima">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/34_hiroshima.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="yamaguchi">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/35_yamaguchi.jpg">
                </div>
            </a>
        </div>
    </div>

    <!-- 四国地方 -->
    <div id="shikoku" class="clearfix">
        <p class="area-title">四国</p>
        <div class="area">
            <a href="{{url_for('ticket.map_view')}}">
                <div id="tokushima">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/36_tokushima.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="kagawa">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/37_kagawa.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="ehime">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/38_ehime.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="kouchi">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/39_kouchi.jpg">
                </div>
            </a>
        </div>
    </div>

    <!-- 九州・沖縄地方 -->
    <div id="kyusyu" class="clearfix">
        <p class="area-title">九州・沖縄</p>
        <div class="area">
            <a href="{{url_for('ticket.map_view')}}">
                <div id="fukuoka">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/40_fukuoka.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="saga">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/41_saga.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="nagasaki">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/42_nagasaki.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="kumamoto">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/43_kumamoto.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="oita">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/44_oita.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="miyazaki">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/45_miyazaki.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="kagoshima">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/46_kagoshima.jpg">
                </div>
            </a>
            <a href="{{url_for('ticket.map_view')}}">
                <div id="okinawa">
                    <img style="width: 75%" src="{{url_for('ticket.index_view')}}static_ticket/images/pref/47_okinawa.jpg">
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}